# app
DEPLOY_TARGET = "vercel"
NEXT_PUBLIC_APP_URL = "http://localhost:3000"
NEXT_PUBLIC_APP_NAME = "Roller Rabbit"
NEXT_PUBLIC_APP_LOGO = "/logo.png"
NEXT_PUBLIC_APP_FAVICON = "/favicon.ico"
NEXT_PUBLIC_APP_PREVIEW_IMAGE = "/logo.png"

# theme
NEXT_PUBLIC_THEME = "default"

# database
# Required for Node/Vercel runtimes. Cloudflare Workers uses HYPERDRIVE.
DATABASE_URL = ""
DATABASE_PROVIDER = "postgresql"
DB_SINGLETON_ENABLED = "true"

# auth secret
# openssl rand -base64 32
# BETTER_AUTH_SECRET = ""
AUTH_SECRET = ""
